/* HERO */

.hero-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.hero-text {
    text-align: center;
}

.hero-image{
    margin-block: 1em;
}

.hero-image img{
    width: 250px;
    height: auto; 
}

.hero-image > img {
    border-radius: 2%;
}

.hero-description {
    margin-block-start: 1em;
}

.hero-description {
    margin-block-end: 2.5em;
}

.hero-description > span {
    color: var(--accent);
}

.contact-link:hover {
    color: var(--accent);
    transition: var(--transition);
}

@media (min-width: 37.5em) {
    .hero-description {
        margin-block-start: 1.25em;
    }

    .hero-description {
        margin-block-end: 3em;
    }

    .hero-image{
        margin-block: 1.5em;
    }

    .hero-image img {
        width: 300px;
    }
}

@media (min-width: 62.5em) {
    .hero-description {
        margin-block-start: 1.5em;
    }

    .hero-description {
        margin-block-end: 3.5em;
    }

    .hero-image{
        margin-block: 2em;
    }

    .hero-image img{
        width: 400px;
    }
    
}

/* ------------------------------------------------------------------ */

/* SKILLS */

.container-skills {
    display: grid;
    grid-template-columns: 1fr;
    gap: 24px;
}

.skills-item {
    text-align: center;
}
.skills-description{
    color: var(--text2);
}

.skills-description a {
    color: var(--accent);
    text-decoration: none;
}

.skills-description, .skills-description a{
    font-style: italic;
    font-size: .8em;
}

/* TABLET 600px*/
@media (min-width: 37.5em) {
    .container-skills {
        grid-template-columns: repeat(2, 1fr);
        gap: 3.25em 1.5em;
    }
    .skills-description, .skills-description a{
        font-size: 1em;
    }
}

/* DESKTOP 1000px*/
@media (min-width: 62.5em) {
    .container-skills {
        grid-template-columns: repeat(3, 1fr);
        gap: 3.5em 2em;
    }

    .skills-description, .skills-description a{
        font-size: 1.3em;
    }
}

/* --------------------------------------------------------------------------------------- */

/* PROJECTS */
.container-headline {
    display: flex;
    justify-content: space-between;
    margin-block-end: 2.5em;

}

.container-projects {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2.5em;
    justify-items: center;
    text-align: center;
}

.project-picture {
    display: flex;
    justify-content: center;
    margin-block-end: 1.25em;
}

.projects-image {
    width: 100%;
    height: auto;
}

.project-title {
    display: flex;
    justify-content: flex-start;
    line-height: 1.3;
    font-weight: 700;
    text-transform: uppercase;
}

.project-tag {
    color: var(--text2);
    display: flex;
    justify-content: flex-start;
    margin-block: 1.25em;
    /* overflow: hidden; */
}

.container-project-link {
    display: flex;
    justify-content: center;
}

.project-tag span, .project-link {   
    margin-inline-start: 1.5em; 
}

.project-tag span:first-child, .project-link:first-child {
    margin-inline-start: 0;
}

.container-project-link-desktop {
    display: none;
}

/* TABLET 600px*/
@media (min-width: 37.5em) {
    .container-projects {
        grid-template-columns: repeat(2, 1fr);
        gap: 2.5em 2.5em;
        max-width: 100%;
    }

    .project-title, .project-tag {
        justify-content: center;
        flex-wrap: wrap;
    }

    .project-tag span, .project-link {   
        margin-inline-start: 1em; 
    }

    .project-item > picture > img {
        max-width: 100%;
        height: auto;
    }
}

/* DESKTOP 1000px*/
@media (min-width: 62.5em) {
    .project-picture{
        position: relative;
    }

    .project-picture::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        background-color: hsl(0, 0%, 0%);
        opacity: 0;
        transition: var(--transition);
    }

    .projects-image {
        width: 100%;
        height: auto;
    }
    
    .project-item:hover .project-picture::after {
        opacity: 0.7;
    }

    .container-project-link, .container-project-link-desktop {
        display: none;
    }

    .project-item:hover .container-project-link-desktop {
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
        width: 100%;
        transition: var(--transition);
    }
}

/* -------------------------------------------------------------------- */

